name: testing

on: [push]

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run CI/CD Tests
        run: python test_directory/module1
      # run: echo "This is the test run!"
