name: testing

on: [push]

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run CI/CD Tests
        run: python Users/Cessn/OneDrive/Desktop/data_cleansing_CI_CD_pipeline/main.py
